
    /* Centralizar conteúdo */
    .welcome-section {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* Dimensões do carrossel */
    .carousel-container {
        max-width: 900px; /* Deixa o carrossel bem dimensionado */
        margin: 0 auto;  /* Centraliza */
    }

    .carousel-item img {
        height: 450px; /* Ajuste de tamanho */
        object-fit: cover;
    }
